* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #FFFFFF;
    margin: 0;
}
.container {
    position: relative;
    margin: 0 auto;
    /* margin-top: 100px; */
    padding-top: 100px;
    width: 1000px;
}
.container img {
	display: block;
	width: 100%;
}
.navtop {
    position: fixed;
    background-color: #3f69a8;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    padding-left: 150px;
    border: 0;
}
nav {
	position: fixed;
	z-index: 10;
    position: fixed;
    background-color: #3f69a8;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    padding-left: 150px;
    border: 0;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
    padding: 0;
    padding-right: 400px;
	margin: 0;
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}

.content {
    position: relative;
    margin: 0 auto;
    /* margin-top: 100px; */
    padding-top: 100px;
    width: 1000px;
}
h1 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color:white;
}
.content .err-input{
    color: red;
    font-style: italic;
    font-weight: bold;
}
form {
    padding: 15px 0;
    flex-flow: wrap;
}
.input- label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}
.input- input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.submit label {
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}
.submit input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.btn {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-top: 15px;
}
.btn:hover {
    background-color: #32a367;
}

table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}
table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}
table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}
table tbody tr {
    border-bottom: 1px solid #d3dae0;
}
table tbody tr:nth-child(even) {
    background-color: #fbfcfc;
}
table tbody tr:hover {
    background-color: #376ab7;
}
table tbody tr:hover td {
    color: #FFFFFF;
}
table tbody tr:hover td:nth-child(1) {
    color: #FFFFFF;
}
table tbody tr td {
    padding: 10px;
}
table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}
.pagnation{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.pagnation a{
    display: inline-block;
    text-decoration: none;
    background-color: #a5a7a9;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}
.pagination a:hover {
    background-color:grey;
}

